* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}
html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
	/* border: red solid 5px; */
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 60%);
}

h1 {
	color: white;
	margin-bottom: 15px;
}

input {
	height: 35px;
	width: 300px;
	font-size: 1rem;
	padding-left: 5px;
	border-radius: 4px;
	border: none;
	font-weight: bold;
	text-align: center;
}
input:focus {
	outline: 2px rgb(109, 201, 255) solid;
}
input:hover {
	outline: 2px rgb(109, 201, 255) solid;
}
button {
	background-color: hsl(230, 79%, 42%);
	border-radius: 4px;
	color: white;
	cursor: pointer;
	height: 35px;
	width: 80px;
}
button:hover {
	background-color: hsl(230, 79%, 52%);
}
button:active {
	background-color: hsl(230, 79%, 57%);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: relative;
	height: 40px;
	width: 400px;
}
#output {
	border: 1px black solid;
	border-radius: 4px;
	height: 400px;
	width: 400px;
	background-color: hsl(0, 0%, 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 20px;
}

img {
	object-fit: cover;
	width: 250px;
	height: 250px;
	/* border: red 1px solid; */
}

#error-message {
	font-weight: bold;
	color: rgb(156, 18, 18);
}

.hidden {
	display: none;
}

#name-display {
	/* border: 1px solid red; */
	height: 70px;
	width: 250px;
	margin: auto;
	position: absolute;
	bottom: 0;
	z-index: 12;
	text-align: center;
	font-weight: bold;
	font-size: 1.7rem;
	color: hsl(0, 0%, 25%);
	margin-bottom: 10px;
}

#title-img {
	object-fit: contain;
	height: 50px;
}
